#main_menu {
    position: relative;
    box-shadow: 0 8px 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

#content {
    position: relative;
    z-index: 50
}

.toggle {
    display: block;
    background: #303030;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    padding: 0 2rem;
    margin: 0;
}

.toggle .menu_icon {
    float: right;
}

.toggle .menu_icon:before {
    content: "☰";
    height: 50px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    font-size: 20px;
}

.main_menu_list {
    display: none;
    width: 100%;
}

.main_menu_list li {
    background: #ffffff;
    padding: 0;
    border-bottom: 1px solid #000;
}

.main_menu_list .menu_li_title {
    margin: 0;
    padding: 0 1rem;
    color: #303030;
}

.main_menu_list .menu_li_sub_title {
    margin: 0;
    padding: 0 1rem;
    color: #303030;
}

.row_mega_menu {
    display: none;
    padding: 1rem;
}

#main_menu ul li .mega_menu_selector {
    text-decoration: none;
    text-align: left;
    display: block;
    background: #ffffff;
    padding: .5rem;
    cursor: pointer;
}

#main_menu ul li .mega_menu_selector .menu_li_title:after {
    content: "▼";
    color: #000000;
    float: right;
    -webkit-transition: .25s all;
    -moz-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all;
}

#main_menu ul li .active {
    background: #303030;
}

#main_menu ul li .active .menu_li_title {
    color: #ffffff;
}

#main_menu ul li .active .menu_li_title:after {
    color: #ffffff;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#main_menu ul li .active .menu_li_sub_title {
    color: #ffffff;
}

.first-menu {
    list-style: none;
    margin-left: 2rem;
}

.second-menu {
    list-style: none;
    margin-left: 2rem;
}

.first-menu li {
    border: none;
}

.second-menu li {
    border: none;
}

.menu_parts a {
    text-decoration: none;
    color: #00a;
}

.menu_parts_solo a {
    text-decoration: none;
    color: #00f;
}

.menu_parts a:hover {
    color: #00f;
}

.menu_parts_solo a:hover {
    color: #000000;
}

#main_menu_wrapper {
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: calc(1300px + 4rem);
    margin: 0 auto;
    animation: SHW .5s;
    animation-fill-mode: both
}

@keyframes SHW {
    from {
        transform: translateY(0.7);
    }
    to {
        transform: translateY(1);
    }
}

.sticky .menu_li_title {
    font-size: 1rem;
    padding: 0;
}

.sticky .menu_li_sub_title {
    display: none;
}

@media screen and (min-width: 1300px) {
    .toggle {
        display: none;
    }
    .main_menu_list {
        display: block;
    }
    #main_menu {
        max-width: calc(1300px + 4rem);
        margin: 0 auto;
    }
    #main_menu ul {
        list-style: none;
        position: relative;
        /* had issues with firefoz with just display flex, allows the moz-box to overwrite */
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
    }
    #main_menu ul li {
        display: inline-flex;
        padding: 0;
        border: none;
        flex: 1;
    }
    #main_menu ul li .mega_menu_selector {
        width: 100%;
        text-decoration: none;
        text-align: center;
        display: block;
        background: #303030;
        padding: 1rem 0;
        -webkit-transition: 0.25s all;
        -moz-transition: 0.25s all;
        -o-transition: 0.25s all;
        transition: 0.25s all;
    }
    #main_menu ul li .mega_menu_selector:hover {
        background: #505050;
    }
    #main_menu ul li .active_tab {
        background: #ffffff;
    }
    #main_menu ul li .active_tab:hover {
        background: #ffffff;
    }
    #main_menu ul li .menu_li_title {
        margin: 0;
        color: #ffffff;
    }
    #main_menu ul li .mega_menu_selector .menu_li_title:after {
        content: "";
    }
    #main_menu ul li .active_tab > .menu_li_title {
        color: #505080;
    }
    #main_menu ul li .mega_menu_selector:hover > .menu_li_title {
        color: #ffffff;
    }
    #main_menu ul li .active_tab:hover > .menu_li_title {
        color: #505080;
    }
    #main_menu ul li .menu_li_sub_title {
        margin: 0;
        color: #ffffff;
        font-size: 1.025rem;
    }
    #main_menu ul li .active_tab > .menu_li_sub_title {
        color: #505080;
    }
    #main_menu ul li .mega_menu_selector:hover > .menu_li_sub_title {
        color: #ffffff;
    }
    #main_menu ul li .active_tab:hover > .menu_li_sub_title {
        color: #505080;
    }
    #main_menu ul li .row_mega_menu {
        width: calc(100% - 4rem);
        position: absolute;
        left: 0;
        background: #ffffff;
        padding: 2rem;
        display: none;
        -webkit-transition: height 0.25s;
        -moz-transition: height 0.25s;
        -o-transition: height 0.25s;
        transition: height 0.25s;
    }
    #main_menu ul li .row_mega_menu .menu_description {
        display: none;
    }
    #main_menu ul li .row_mega_menu .menu_description_full {
        display: none;
    }
    #main_menu ul li .row_mega_menu .menu_navigation_row {
        display: none;
    }
    #main_menu ul li .row_mega_menu .menu_navigation_row .menu_parts {
        display: none;
    }
    #main_menu ul li .row_mega_menu .menu_navigation_row .menu_parts div {
        display: none;
    }
    #main_menu ul li .row_mega_menu .menu_navigation_row .menu_parts ul {
        display: none;
    }
    #main_menu ul li .row_mega_menu .menu_navigation_row .menu_parts ul li {
        display: none;
    }
    #main_menu ul li .row_mega_menu .menu_navigation_row .menu_parts ul li a {
        display: none;
    }
    #main_menu .row_mega_menu .menu_navigation_row .menu_parts img {
        max-width: 100%;
    }
    #main_menu ul li .active {
        width: calc(100% - 4rem);
        position: absolute;
        left: 0;
        background: #ffffff;
        padding: 2rem;
        display: block;
        top: 100%;
        box-shadow: 0 8px 5px 5px rgba(0, 0, 0, 0.2);
    }
    #main_menu ul li .active .menu_description {
        display: inline-block;
        vertical-align: top;
        width: calc(100% * (4/7) - 1rem);
    }
    #main_menu ul li .active .menu_description_full {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 1rem);
    }
    #main_menu ul li .active .menu_navigation_row {
        display: inline-block;
        vertical-align: top;
        width: calc(100% * (3/7) - 1rem);
        text-align: center;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts {
        display: inline-block;
        vertical-align: top;
        width: calc(100% * (1/2) - 2rem);
        margin: .5rem;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts div {
        margin: .5rem;
        display: block;
        text-align: left;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts div p {
        text-align: left;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts ul {
        margin: 0 auto;
        display: block;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts ul li {
        display: block;
        text-align: left;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts ul li:hover > a {
        background: #ccc;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts ul li a {
        padding: .5rem;
        text-decoration: none;
        color: #00a;
        display: block;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts ul li a:hover {
        color: #00a;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts_solo {
        display: block;
        width: calc(100% - 2rem);
        margin: .5rem;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts_solo div {
        margin: .5rem;
        display: block;
        text-align: left;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts_solo div p {
        text-align: left;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts_solo ul {
        margin: 0 auto;
        display: block;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts_solo ul li {
        display: block;
        text-align: left;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts_solo ul li:hover > a {
        background: #ccc;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts_solo ul li a {
        padding: .5rem;
        text-decoration: none;
        color: #00a;
        display: block;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts_solo ul li a:hover {
        color: #00a;
    }
    #main_menu ul li .active .menu_navigation_row .menu_parts_none {
        display: none;
    }
}